[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
docopts = "*"
python-dotenv = "*"
pyright = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyright = "*"
flit = "*"

[requires]
python_version = "3.9"
